.com { color: #93a1a1; }
.lit { color: #5189B1; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #DD1144; }
.kwd{color:#B69B65;}
.prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: #109714; }
.pln { color: #48484c; }

.prettyprint {
  padding: 22px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 30px 0 0 #F7F7F9, inset 31px 0 0 #ececf0;
     -moz-box-shadow: inset 30px 0 0 #F7F7F9, inset 31px 0 0 #ececf0;
          box-shadow: inset 30px 0 0 #F7F7F9, inset 31px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 6px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}